/* Box Sizing -- */
html {
  @include boxSizing(border-box);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-overflow-scrolling: touch;
}


* {
  &,
  &:before,
  &:after {
    @include boxSizing(inherit);
    line-height: normal;
    margin:  0;
  }
}

button {
  outline: none;
  cursor: pointer;
}

/* Reset -- */
body,
h1, h2, h3, h4, h5, h6,
p, span {
  font-family: $font-family-cera-medium;
}

a {
  text-decoration: none;
}
