//Colors
$button-no-active: #959595;
$button-color: #fafdfd;
$button-bg-color: #00aea9;
$color: #000001;
$paragraph-color-second: #00afaa;

//Fonts
$font-family-cera-medium: 'Cera Pro Medium', sans-serif;
$font-family-cera-regular: 'Cera Pro Regular', sans-serif;
$title-font-family: 'Museo 300', sans-serif

