/* Tools / Mixins */
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin animation($args...){
  -webkit-animation: $args;
  animation: $args;
}

@mixin transform($args...) {
  -webkit-transform: $args;
  -moz-transform: $args;
  -ms-transform: $args;
  -o-transform: $args;
  transform: $args;
}

@mixin boxSizing($args...) {
  -webkit-box-sizing: $args;
  -moz-box-sizing: $args;
  box-sizing: $args;
}

@mixin borderRadius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin boxShadow($args...) {
  -webkit-box-shadow: $args;
  -moz-box-shadow: $args;
  box-shadow: $args;
}

@mixin flex() {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

@mixin skew($angle) {
  -webkit-transform: skew(#{$angle}deg) !important;
  -moz-transform: skew(#{$angle}deg) !important;
  -o-transform: skew(#{$angle}deg) !important;
}

@mixin userSelect($arg) {
  -webkit-user-select: $arg;
  -moz-user-select: $arg;
  -ms-user-select: $arg;
  user-select: $arg;
}

@function calculateRem($size) {
  $remSize: $size / 16;
  @return #{$remSize}rem;
}

@mixin fontSizes($size) {
  font-size: $size; //Fallback in px
  font-size: calculateRem($size);
}
/* Cross browser opacity */
@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}
/* Media Queries */

@mixin on-big-screen {
  @media screen and (min-width: 2000px) {
    @content;
  }
}

@mixin on-widescreen {
  @media screen and (min-width: 1180px) {
    @content;
  }
}

@mixin on-medium-desktop {
  @media (max-width: 1300px) {
    @content;
  }
}

@mixin on-desktop {
  @media screen and (min-width: 980px) and (max-width: 1225px) {
    @content;
  }
}

@mixin on-tablet {
  @media screen and (max-width: 979px) and (min-width: 769px) {
    @content;
  }
}

@mixin on-mobile {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin on-landscape-mobile {
  @media (max-width: 480px) {
    @content;
  }
}

@mixin on-medium-height {
  @media (max-height: 700px) {
    @content;
  }
}

@mixin on-small-height {
  @media (max-height: 600px) {
    @content;
  }
}

@mixin media($maxWidth) {
  @media screen and (max-width: $maxWidth) {
    @content;
  }
}

